<footer id="contact" class="js-section">
  <div class="footer-content">
    <div class="footer-summary">
    {{ 'FOOTER.TEXT_LEFT_01' | translate }} <a href="mailto:lea.gardavaud@gmail.com" title="Send an email">{{ 'FOOTER.LINK_LEFT' | translate }}</a> {{ 'FOOTER.TEXT_LEFT_02' | translate }}</div>
    <div class="footer-social">
      <a href="http://sites.leagardavaud.com" class="footer-social-link" title="Bookmarks of my favorite websites">{{ 'MENU.SITES_I_LIKE' | translate }}</a>
      <a href="http://ch.linkedin.com/in/leamcg/en" target="_blank" class="footer-social-link" title="Léa Gardavaud LinkedIn Profile">LinkedIn</a>
      <a href="http://instagram.com/leamcg" target="_blank" class="footer-social-link" title="Léa Gardavaud's Instagram">Instagram</a>
      <a href="http://leaetc.tumblr.com" target="_blank" class="footer-social-link" title="Daily inspiration on tumblr">Tumblr</a>
    </div>
  </div>
  <div class="peace-out">
    ✌️
  </div>
</footer>