
<section id="about" class="js-section">
  <h1>{{ 'CONTENT.INTRO_01' | translate }} 🇨🇭{{ 'CONTENT.INTRO_02' | translate }} <a href="mailto:lea.gardavaud@gmail.com" title="Léa Gardavaud Email Address">{{ 'CONTENT.INTRO_LINK' | translate }}</a>.</h1>
</section>

<section id="projects" class="js-section">
  <div class="project">
    <img  sizes="(min-width: 960px) 50vw, (min-width: 600px) 70vw, 100vw"
      srcset="assets/images/na-ph-350.jpg 350w,
      assets/images/na-ph-600.jpg 600w,
      assets/images/na-ph-980.jpg 980w"
      alt="Badge management key" src="/images/na-ph-980.jpg" class="project-img" />
    <div class="project-content">
      <h3 class="project-title">{{ 'CONTENT.NACIS.TITLE' | translate }}</h3>
      <div class="project-summary">
        <div class="project-infos">
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TYPE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.NACIS.TYPE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.ROLE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.NACIS.ROLE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TECHNOLOGIES' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.NACIS.TECHNOLOGIES' | translate }}</div>
        </div>
        <div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.PROJECT' | translate }}</div>
          <div class="project-description">{{ 'CONTENT.NACIS.DESCRIPTION' | translate }}<br>
            <a href="https://openwt.com/en/faster-and-better-security-biggest-swiss-multinational" target="_blank" title="Project article on Open Web Technology's website">{{ 'CONTENT.NACIS.LINK' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <img  sizes="(min-width: 960px) 50vw, (min-width: 600px) 70vw, 100vw"
      srcset="assets/images/pu-ph-350.jpg 350w,
      assets/images/pu-ph-600.jpg 600w,
      assets/images/pu-ph-980.jpg 980w"
      alt="Employees satisfaction survey" src="/images/pu-ph-980.jpg" class="project-img" />
    <div class="project-content">
      <h3 class="project-title">{{ 'CONTENT.PULSE.TITLE' | translate }}</h3>
      <div class="project-summary">
        <div class="project-infos">
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TYPE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.PULSE.TYPE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.ROLE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.PULSE.ROLE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TECHNOLOGIES' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.PULSE.TECHNOLOGIES' | translate }}</div>
        </div>
        <div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.PROJECT' | translate }}</div>
          <div class="project-description">{{ 'CONTENT.PULSE.DESCRIPTION' | translate }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <img  sizes="(min-width: 960px) 50vw, (min-width: 600px) 70vw, 100vw"
      srcset="assets/images/cr-ph-350.jpg 350w,
      assets/images/cr-ph-600.jpg 600w,
      assets/images/cr-ph-980.jpg 980w"
      alt="Croc the Rock Festival Lausanne website mockups" src="/images/cr-ph-980.jpg" class="project-img" />
    <div class="project-content">
        <h3 class="project-title">{{ 'CONTENT.CROC.TITLE' | translate }}</h3>
      <div class="project-summary">
        <div class="project-infos">
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TYPE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.CROC.TYPE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.ROLE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.CROC.ROLE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TECHNOLOGIES' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.CROC.TECHNOLOGIES' | translate }}</div>
        </div>
        <div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.PROJECT' | translate }}</div>
          <div class="project-description">{{ 'CONTENT.CROC.DESCRIPTION' | translate }}<br>
            <a href="http://croctherock.ch/" target="_blank" title="Croc The Rock Festival Website">{{ 'CONTENT.CROC.LINK' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <img  sizes="(min-width: 960px) 50vw, (min-width: 600px) 70vw, 100vw"
      srcset="assets/images/el-ph-350.jpg 350w,
      assets/images/el-ph-600.jpg 600w,
      assets/images/el-ph-980.jpg 980w"
      alt="Elodie Sogan Model portfolio mockups" src="/images/el-ph-980.jpg" class="project-img" />
    <div class="project-content">
      <h3 class="project-title">{{ 'CONTENT.ELODIE.TITLE' | translate }}</h3>
      <div class="project-summary">
        <div class="project-infos">
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TYPE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.ELODIE.TYPE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.ROLE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.ELODIE.ROLE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TECHNOLOGIES' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.ELODIE.TECHNOLOGIES' | translate }}</div>
        </div>
        <div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.PROJECT' | translate }}</div>
          <div class="project-description">{{ 'CONTENT.ELODIE.DESCRIPTION' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <img  sizes="(min-width: 960px) 50vw, (min-width: 600px) 70vw, 100vw"
      srcset="assets/images/w2-ph-350.jpg 350w,
      assets/images/w2-ph-600.jpg 600w,
      assets/images/w2-ph-980.jpg 980w"
      alt="W2 Architekten Bern website mockups" src="/images/w2-ph-980.jpg" class="project-img" />
    <div class="project-content">
      <h3 class="project-title">{{ 'CONTENT.W2.TITLE' | translate }}</h3>
      <div class="project-summary">
        <div class="project-infos">
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TYPE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.W2.TYPE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.ROLE' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.W2.ROLE' | translate }}</div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.TECHNOLOGIES' | translate }}</div>
          <div class="project-info">{{ 'CONTENT.W2.TECHNOLOGIES' | translate }}</div>
        </div>
        <div>
          <div class="project-info-legend">{{ 'CONTENT.PROJECTS.PROJECT' | translate }}</div>
          <div class="project-description">{{ 'CONTENT.W2.DESCRIPTION' | translate }}<br>
            <a href="http://w2-architekten.ch/" target="_blank" title="W2 Architekten Büro Bern">{{ 'CONTENT.W2.LINK' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
